* {
  box-sizing: border-box;
}
body {
  font: 14px/1.5 Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  color: #333;
}
.gbs-a, .gbs-b, .gbs-c, .gbs-x {
  margin: 0;
}
.gbs-a {
  color: #5eb95e;
  background-color: rgba(94, 185, 94, .115);
}
.gbs-b {
  color: #f37b1d;
  background-color: rgba(243, 123, 29, .115);
}
.gbs-c {
  color: #dd514c;
  background-color: rgba(221, 81, 76, .115);
}
.gbs-x {
  color: #0b76ac;
  background-color: rgba(14, 144, 210, .115);
}
label {
  display: inline-block;
  width: 140px;
}
#box-outer {
  border: 1px solid;
}
#box {
  line-height: 1;
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  transition: all .5s;
  text-align: center;
  opacity: .5;
  color: white;
  border: 2px solid red;
  border-radius: 50%;
  background: black;
}
#box:hover {
  opacity: 1;
  color: red;
  border-radius: 0;
}
